@model IEnumerable<DriftService.Models.Log>
<link rel="stylesheet" href="~/Content/StyleSheetLogsTable.css"/>
<link rel="stylesheet" href="~/Content/StyleSheet.css" />

<div class="jumbotron jumbotron-fluid jumbotronFirstpage">
    <div class="container ImageCenter" >
        <img src="~/Content/Images/Driftservice-Notifikation.png" alt="Driftservice-Notifikation" />
    </div>
</div>
        
<div >
    <table class="table Table-border-spacing">
        <thead>
            <tr>
<<<<<<< HEAD
                <th class="th-td-padding th-first">Headline</th>
=======
                <th class="th-td-padding th-first">Head</th>
>>>>>>> 60c4f359dbb846cd25e81d8bc66525bf191f7d1b
                <th class="th-td-padding th-second">Text</th>
                <th class="th-td-padding th-third">Date</th>
                <th class="th-td-padding th-third">Service Type</th>
            </tr>
        </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="th-td-padding td-first">
                        <b>@(item.HeadLine.Length > 15 ? item.HeadLine.Substring(0,15) + "..." : item.HeadLine)</b>
                    </td>

                    <td class="th-td-padding td-second">
                        <b>@(item.Text.Length > 15 ? item.Text.Substring(0, 15) + "..." : item.Text)</b>
                    </td>

                    <td class="th-td-padding td-third">
                        <b>@Html.DisplayFor(modelItem => item.Date)</b>
                    </td>

                    <td class="th-td-padding td-second">
                        <b>@(item.SelectedServiceType)</b>
                    </td>
                </tr>
            }
</table>
</div>



