@model IEnumerable<DriftService.Models.Log>
<link rel="stylesheet" href="~/Content/StyleSheetLogsTable.css"/>
<link rel="stylesheet" href="~/Content/StyleSheet.css" />

<div class="jumbotron jumbotron-fluid jumbotronFirstpage">
    <div class="container ImageCenter" >
        <img src="~/Content/Images/Driftservice-Notifikation.png" alt="Driftservice-Notifikation" />
    </div>
</div>
        
<div >
    <table class="table Table-border-spacing">
        <thead>
            <tr>

                <th class="th-td-padding th-first">Headline</th>
                <th class="th-td-padding th-second">Text</th>
                <th class="th-td-padding th-third">Date</th>
                <th class="th-td-padding th-fourth">Servicetype</th>
            </tr>
        </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="th-td-padding td-first">
                        @(item.HeadLine.Length > 15 ? item.HeadLine.Substring(0,15) + "..." : item.HeadLine)
                    </td>

                    <td class="th-td-padding td-second">
                        @(item.Text.Length > 15 ? item.Text.Substring(0, 15) + "..." : item.Text)
                    </td>

                    <td class="th-td-padding td-third">
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>

                    <td class="th-td-padding th-fourth">
                        @(item.SelectedServiceType)
                    </td>
                </tr>
            }
</table>
</div>



